<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie strony</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <section id="top">
        <div class="logo">
            <img src="{% static "WebNotifier.png" %}">
        </div>
    </section>

    <section id="content">

        <article>
            <h2>Ustaw parametry dla nowej strony:</h2>
            <form method="post">
                <label>Tytuł strony: </label>
                <input type="text" name="title" value="{{ page.title }}" style="width: 800px"><br>
                <label>Częstotliwość: </label>
                <input type="number" name="interval" min="1" max="10000" value="{{ page.interval }}"> sekund<br>
                <label>Obserwuj: </label>
                <input type="checkbox" name="active" value="True" checked><br>
                <input type="hidden" name="page_id" value="{{ page.id }}">
                <label></label>
                <input type="submit" name="submit" value="Zapisz" />
            </form>
        </article>
    </section>
</body>
</html>