<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie strony</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <section id="top">
        <div class="logo">
            <img src="{% static "WebNotifier.png" %}">
        </div>
    </section>

    <section id="content">

        <article>
            <h2>Ustaw parametry dla nowej strony:</h2>
            <form class="table" method="post">
                <div class="tr">
                    <div class="td right noborder">Strona: </div>
                    <div class="td left noborder"><a href="{{ page.page_url }}">{{ page.title }}</a></div>
                </div>
                <div class="tr">
                    <div class="td right noborder">Częstotliwość: </div>
                    <div class="td left noborder"><input type="number" name="interval" min="1" max="10000" value="{{ page.interval }}"> sekund</div>
                </div>
                <div class="tr">
                    <div class="td right noborder">Obserwuj: </div>
                    <div class="td left noborder"><input type="checkbox" name="active" value="True" {% if page.active %} checked {% endif %}></div>
                </div>
                <div class="tr">
                    <div class="td noborder"></div>
                    <div class="td left noborder">
                        <input type="hidden" name="page_id" value="{{ page.id }}">
                        <input type="submit" name="submit" value="Zapisz zmiany" />
                    </div>
                </div>
            </form>
        </article>
    </section>
</body>
</html>