<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dodawanie urządzenia</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <div id="top">
        <div class="logo">
            <img src="{% static "WebNotifier.png" %}">
        </div>
    </div>

    <section id="content">
        <article>
            <h2>Dodaj nowe urządzenie:</h2>
            <form class="table" method="post">
                <div class="tr">
                    <div class="td right noborder">Nazwa: </div>
                    <div class="td left noborder"><input type="text" name="name" maxlength="50" value="{{ device_name }}"></div>
                </div>
                <div class="tr">
                    <div class="td noborder"></div>
                    <div class="td left noborder">
                        <input type="hidden" name="device_id" value="{{ device_id }}">
                        <input type="submit" name="submit" value="Dodaj" />
                    </div>
                </div>
            </form>
        </article>
    </section>
</body>
</html>