<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <div id="top">
        <div class="logo">
            <img src="{% static "WebNotifier.png" %}">
        </div>
    </div>

    <section id="content">
        {% if error %}
            <div class="error">
                <div>{{ error }}</div>
            </div>
        {% endif %}

        <article style="float: left;">
            <h2>Logowanie</h2>
            <form method="post" action="/login/">
                <label>Login: </label>
                <input type="text" name="username" maxlength="30"><br>
                <label>Hasło: </label>
                <input type="password" name="password" type="password"><br>
                <label></label>
                <input type="hidden" name="next" value="{{ next }}">
                <input type="submit" name="submit_login" value="Zaloguj">
            </form>
        </article>

        <article style="float: right;">
            <div class="register">
                <h2>Rejestracja</h2>
                <form method="post" action="/login/">
                    <label>Login: </label>
                    <input maxlength="30" name="username" type="text"><br>
                    <label>E-mail: </label>
                    <input maxlength="254" name="email" type="email"><br>
                    <label>Hasło: </label>
                    <input name="password" type="password" ><br>
                    <label></label>
                    <input type="hidden" name="next" value="{{ next }}">
                    <input type="submit" name="submit_register" value="Zarejestruj">
                </form>
            </div>
        </article>
    </section>
</body>
</html>