<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
</head>
<body>
    <div id="top">
        <div class="logo">
            <img src="{% static "WebNotifier.png" %}">
        </div>
    </div>

    <section id="content">
        {% if error %}
            <div class="error">
                <div>{{ error }}</div>
            </div>
        {% endif %}

        <article>
            <h2>Logowanie</h2>
            <form class="table" method="post" action="/login/">
                <div class="tr">
                    <div class="td right noborder">Login: </div>
                    <div class="td left noborder"><input type="text" name="username" maxlength="30"></div>
                </div>
                <div class="tr">
                    <div class="td right noborder">Hasło: </div>
                    <div class="td left noborder"><input type="password" name="password" type="password" ></div>
                </div>
                <div class="tr">
                    <div class="td noborder"></div>
                    <div class="td left noborder">
                        <input type="hidden" name="next" value="{{ next }}"/>
                        <input type="submit" name="submit_login" value="Zaloguj" />
                    </div>
                </div>
            </form>
        </article>

        <article>
            <div class="register">
                <h2>Rejestracja</h2>
                <form class="table" method="post" action="/login/">
                    <div class="tr">
                        <div class="td right noborder">Login: </div>
                        <div class="td left noborder"><input class="id_username" maxlength="30" name="username" type="text"></div>
                    </div>
                    <div class="tr">
                        <div class="td right noborder">E-mail:</div>
                        <div class="td left noborder"><input class="id_email" maxlength="254" name="email" type="email"></div>
                    </div>
                    <div class="tr">
                        <div class="td right noborder">Hasło:</div>
                        <div class="td left noborder"><input class="id_password" name="password" type="password" ></div>
                    </div>
                    <div class="tr">
                        <div class="td noborder"></div>
                        <div class="td left noborder">
                            <input type="hidden" name="next" value="{{ next }}"/>
                            <input type="submit" name="submit_register" value="Zarejestruj" />
                        </div>
                    </div>
                </form>
            </div>
        </article>
    </section>
</body>
</html>